
@model IndeavorChallenge.Models.Skill
@{
	ViewBag.Title = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div class="container">
	<div class="row">
		<div class="col">@Html.TextBoxFor(x => x.name)</div>
		<div class="col">@Html.DisplayTextFor(x=>x.dateCreated)</div>
		
	</div>
	<div class="row m-5" >
		<div class="col"> 
			<button id="deleteBtn" class="btn btn-primary" data-skill-id="@Model.id">Delete</button>
		</div>
		<div class="col">
			<button id="updateBtn" class="btn btn-primary" data-skill-id="@Model.id">Update</button>
		</div>
	</div>

</div>

@section scripts
{
	<script>
		$(document).ready(function () {
			$("#deleteBtn").on("click", function () {
				var button = $(this);
				if (confirm("Delete skill?")) {
					console.log("CONFIRMED");
					$.ajax({
						url: "/api/skills/" + button.attr("data-skill-id"),
						method: "DELETE",
						success: function () {
							window.location.href = "/skills/index";
						}
					});
				}


			});


			$("#updateBtn").on("click", function () {
				var button = $(this);
				var nameInput = $('#@Html.IdFor(m=>m.name)').val();
				var id = button.attr("data-skill-id");
				var date = new Date(Date.now()).toISOString();

				if (confirm("Update the skill?")) {
					$.ajax({
						url: "/api/skills/" + button.attr("data-skill-id"),
						method: "PUT",
						dataType: "json",
						data: {
							"id": id,
							"name": nameInput,
							"dateCreated": date
						},
						success: function () {
							alert("Skill updated!");
						}
					});
				}
			});

		});


	</script>
}