
@model IEnumerable<IndeavorChallenge.Models.Skill>
@{
	ViewBag.Title = "Skills";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skills</h2>
<table id="skills" class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Skill</th>
			<th>Date Created</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var skill in Model)
		{
			<tr>

				<td>@Html.ActionLink(skill.name, "Edit", "Skills", new{id = skill.id}, null)</td>
				<td>@skill.dateCreated</td>
			</tr>

		}
	</tbody>
</table>

