
@model IEnumerable<IndeavorChallenge.Models.Skill>
@{
	ViewBag.Title = "Skills";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Skills</h2>
<table>
	<thead>
		<tbody>
			@foreach (var skill in Model )
			{
				<tr>
					
						@*
						<td>@Html.ActionLink(skill.name, "ShowSkills", "SkillsController", new { id = skill.Id }, null)</td>
						*@
						<td>@skill.name</td>
				</tr>
			}
		</tbody>
	</thead>
</table>

