@model  IEnumerable<IndeavorChallenge.Models.Employee>
@{
	ViewBag.Title = "AllEmployees";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>All Employees</h2>
@if (Model != null)
{
	<table id="employees" class="table table-bordered table-hover">
		<thead>
		<tr>
			<th>Full Name</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var e in Model)
		{
			<tr>
				<td>@Html.ActionLink(string.Join(" ", e.surname, e.name), "Edit", "Employees", new { id = e.id }, null)</td>
			</tr>

		}
		</tbody>
	</table>
}

@section scripts
{
	<script>
		$(document).ready(function () {
			$("#employees").DataTable();
		});

		
	</script>
}

